IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'UserOperations') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UserOperations]
/****** Object:  StoredProcedure [dbo].[UserOperations]    Script Date: 4/19/2018 1:02:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================  
-- Author:  <Author,,Name>  
-- Modified by: Vibin MB  
-- Modified date: 20/06/2018  
-- =============================================  
CREATE PROCEDURE [dbo].[UserOperations]  
   
 @FirstName varchar(50),    
 @LastName varchar(50),    
 @UserName varchar(50),    
 @Password varchar(50),    
 @EmailId varchar(50),    
 @Status varchar(15)  out,  
 @CreatedBy int,  
 @Createddate datetime,  
 @UpdatedBy int,  
 @UpdatedDate datetime ,  
 @MiddleName varchar(50),  
 @userID int,
 @IsActive bit,
 @UserRoleID int ,
 @EmployeeCode varchar(25) 
   
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
if (@Status='I')  
begin   
IF not exists(select UserName from [dbo].[User] where UserName=@UserName)        
   BEGIN
   IF not exists(select EmployeeCode from [dbo].[User] where EmployeeCode=@EmployeeCode)
		Begin     
			insert into [dbo].[User]   
			(  
			UserName,  
			Password,  
			EmailId,  
			FirstName,  
			LastName,  
			MiddleName,  
			CreatedBy,  
			Createddate,  
			UpdatedBy,  
			UpdatedDate,
			IsActive,
			UserRoleID ,
			EmployeeCode
      
			)    
      
			 values  
			 (  
			 @UserName,  
			 @Password,  
			 @EmailId,  
			 @FirstName,  
			 @LastName,  
			 @MiddleName,  
			 @CreatedBy,  
			 @Createddate,  
			 @UpdatedBy,  
			 @UpdatedDate,
			 @IsActive,
			 @UserRoleID,
			 @EmployeeCode    
			 )    
			 SET @Status='t'    
			 return;  
		End
	Else
		Begin
			SET @Status='e'    
			return;  
		End
   END    
       
  ELSE    
       BEGIN    
       SET @Status='i'    
       RETURN    
   END   
     
   
END  
  
else if (@Status='U')  
begin  
  
IF not exists(select UserName from [dbo].[User] where UserName=@UserName and UserId<>@userID)    
       
   BEGIN   
     IF not exists(select EmployeeCode from [dbo].[User] where EmployeeCode=@EmployeeCode and UserId<>@userID)
		Begin
		   Update [dbo].[User]   
      
			Set      
			 UserName = @UserName,      
			 FirstName=@FirstName,  
			 LastName=@LastName,  
			 MiddleName=@MiddleName,  
			 EmailId = @EmailId,       
			 UpdatedBy = @UpdatedBy,  
			 UpdatedDate = @UpdatedDate,
			 IsActive = @IsActive,
			 UserRoleID = @UserRoleID ,
			 EmployeeCode=@EmployeeCode,
			 Password=@Password
          
			 Where UserId = @UserId  
       
			  set  @Status='t';  
			  return; 
		  End
	Else
			Begin
				set  @Status='e';  
				return; 
			End 
     
   END   
else  
   BEGIN    
       SET @Status='i'    
       RETURN    
   end   
END   
else if (@Status='D')  
begin  
  
     Declare @isactive1 bit;
     set @isactive1=(Select IsActive from [User] where UserId = @UserId );
      if @isactive1='1'
       begin
       Update [User]  Set IsActive = 0
     Where UserId = @UserId     
       end
      else
       begin
        Update [User]  Set IsActive = 1
     Where UserId = @UserId 
       end     
     
end   
  
  
END  
GO
