
/****** Object:  Table [dbo].[Projects$]    Script Date: 4/19/2018 12:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects$](
	[Sl#No] [float] NULL,
	[Work Order#] [float] NULL,
	[PM] [nvarchar](255) NULL,
	[Client Name] [nvarchar](255) NULL,
	[Work order Name] [nvarchar](255) NULL,
	[Project Type] [nvarchar](255) NULL,
	[Client Short Name] [nvarchar](255) NULL,
	[Proposal #] [nvarchar](255) NULL,
	[Work Order#1] [nvarchar](255) NULL,
	[Client Approval #] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NULL,
	[Currency] [nvarchar](255) NULL,
	[Project Cost] [float] NULL,
	[Change Request Count] [float] NULL,
	[Project start date] [datetime] NULL,
	[Project End Date] [datetime] NULL,
	[Invoice Duration] [nvarchar](255) NULL,
	[Milestone] [nvarchar](255) NULL,
	[Planned hours] [float] NULL,
	[Billable Hours] [nvarchar](255) NULL,
	[Amt Invoiced] [float] NULL,
	[Bal to be invoiced] [float] NULL,
	[Pmt received] [nvarchar](255) NULL,
	[Pmt pending] [float] NULL,
	[Project Cost (Hrs)] [float] NULL,
	[CR (Hrs)] [float] NULL,
	[Apri'13] [float] NULL,
	[May'13] [float] NULL,
	[June'13] [float] NULL,
	[July'13] [float] NULL,
	[Aug'13] [float] NULL,
	[Sept'13] [float] NULL,
	[Oct'13] [float] NULL,
	[Nov'13] [float] NULL,
	[Dec'13] [float] NULL,
	[Jan'14] [float] NULL,
	[Feb'14] [float] NULL,
	[Mar'14] [float] NULL,
	[April'14] [float] NULL,
	[May'14] [float] NULL,
	[June'14] [float] NULL,
	[July'14] [float] NULL,
	[Aug'14] [float] NULL,
	[Sept'14] [float] NULL,
	[Oct'14] [float] NULL,
	[Nov'14] [float] NULL,
	[Dec'14] [float] NULL,
	[Jan'15] [float] NULL,
	[Feb'15] [float] NULL,
	[Mar'15] [float] NULL,
	[Apr'15] [float] NULL,
	[May'15] [float] NULL,
	[June'15] [float] NULL,
	[July'15] [float] NULL,
	[Aug'15] [float] NULL,
	[Sept'15] [float] NULL,
	[Oct'15] [float] NULL,
	[Nov'15] [float] NULL,
	[Dec'15] [float] NULL,
	[F60] [float] NULL,
	[Total] [float] NULL,
	[Variance] [float] NULL,
	[Remarks] [nvarchar](255) NULL
) ON [PRIMARY]
GO
