
/****** Object:  Table [dbo].[ProjectCC]    Script Date: 4/19/2018 12:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectCC](
	[ProjectID] [int] NULL,
	[CostCentreID] [int] NULL,
	[CostCentre] [varchar](30) NULL
) ON [PRIMARY]
GO
