
/****** Object:  Table [dbo].[EmpList06032014]    Script Date: 4/19/2018 12:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpList06032014](
	[Emp Code] [float] NULL,
	[EmpName] [nvarchar](255) NULL
) ON [PRIMARY]
GO
