
/****** Object:  Table [dbo].[Program]    Script Date: 4/19/2018 12:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Program](
	[ProgId] [int] IDENTITY(1,1) NOT NULL,
	[ProgName] [varchar](50) NULL,
 CONSTRAINT [PK_Programtble] PRIMARY KEY CLUSTERED 
(
	[ProgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
