
/****** Object:  Table [dbo].[Role_Bak_24082011]    Script Date: 4/19/2018 12:59:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Bak_24082011](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[ShortName] [varchar](10) NULL,
	[Desription] [nvarchar](100) NULL,
	[EstimationPercentage] [decimal](18, 3) NULL,
	[EstimationRoleID] [int] NULL
) ON [PRIMARY]
GO
