
/****** Object:  Table [dbo].[Sheet1$]    Script Date: 4/19/2018 12:59:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sheet1$](
	[firstname] [nvarchar](255) NULL,
	[lastname] [nvarchar](255) NULL,
	[emailaddress] [nvarchar](255) NULL,
	[employeeidcode] [nvarchar](255) NULL,
	[id] [nvarchar](255) NULL,
	[user_id] [nvarchar](255) NULL,
	[employeeidcode1] [nvarchar](255) NULL,
	[date_of_joining] [datetime] NULL,
	[date_of_leaving] [nvarchar](255) NULL,
	[reporting_manager] [nvarchar](255) NULL,
	[emp_status_id] [nvarchar](255) NULL,
	[businessunit_id] [nvarchar](255) NULL,
	[department_id] [nvarchar](255) NULL,
	[jobtitle_id] [nvarchar](255) NULL,
	[position_id] [nvarchar](255) NULL,
	[years_exp] [nvarchar](255) NULL,
	[holiday_group] [nvarchar](255) NULL,
	[prefix_id] [nvarchar](255) NULL,
	[extension_number] [nvarchar](255) NULL,
	[office_number] [nvarchar](255) NULL,
	[office_faxnumber] [nvarchar](255) NULL,
	[emp_review_date] [datetime] NULL,
	[emp_tm_no] [nvarchar](255) NULL,
	[emp_card_id] [nvarchar](255) NULL,
	[emp_hid_card_no] [nvarchar](255) NULL,
	[createdby] [nvarchar](255) NULL,
	[modifiedby] [nvarchar](255) NULL,
	[createddate] [datetime] NULL,
	[modifieddate] [datetime] NULL,
	[isactive] [nvarchar](255) NULL,
	[is_orghead] [nvarchar](255) NULL,
	[emp_confirmation_date] [nvarchar](255) NULL,
	[emp_ctc] [datetime] NULL
) ON [PRIMARY]
GO
